@{
    ViewBag.Title = "Menu";
}
@using website.Models

    <div id="onlineBookStore_container">
        <div id="onlineBookStore_menu">
            <ul>
                <li><a href="~/Home/home">Home</a></li>
                <li><a href="~/Home/index3">About us</a></li>
                <li><a href="~/Client/books">Books</a></li>
                <li><a href="~/Admin/login">Login</a></li>
                <li><a href="~/Admin/Menu">Menu</a></li>
                <li><a href="~/Admin/signout">Sign out</a></li>
                <li><a href="~/Admin/advance">Advanced Search </a></li>


            </ul>
            <form class="navbar-form" method="post" action="/Client/search">
                <select name=" type" size="1">

                    <option value="Publisher">Publisher</option>

                    <option value="Name" selected>Title /Book Name</option>

                    <option value="Author">Author /Writer</option>

                    <option value="Price">Price</option>

                    <option value="Catagory">Catagory</option>

                </select>
                <input type="search" value="" name="search" />
                <input type="submit" value="search" />
            </form>
        </div> <!-- end of menu -->

        @Html.Partial("/Views/Shared/_title.cshtml")


        <div id="onlineBookStore_content">

            @Html.Partial("/Views/Shared/_centerLayout.cshtml")




            <div id="onlineBookStore_content_right">
               
                <div class="onlineBookStore_product_box">

                    <h1> Admin Panel </h1>
                    <ul>
                        <li><a href="~/Admin/add">Add a Book</a></li>
                        <li><a href="~/Admin/delete">Delete a Book</a></li>
                        <li><a href="~/Admin/update">Show Book Details</a></li>
                        <li><a href="~/Admin/catagory">Add a Catagory</a></li>
                        <li><a href="~/Admin/publisher">Add a Publisher</a></li>
                        <li><a href="~/Admin/author">Add an Author</a></li>



                        
                    </ul>
                </div>
                </div> <!-- end of content right -->

            <div class="cleaner_with_height">&nbsp;</div>
        </div> <!-- end of content -->

        @Html.Partial("/Views/Shared/_footer.cshtml")




    </div> <!-- end of container -->



